@charset "UTF-8";

/* 바로가기 스킵메뉴 */
#skip {z-index: 2;position: fixed;top: 0;left: 0;width: 100%;}
#skip li {width: 100%;}
#skip li a {display: block;width: 100%;line-height: 0;font-size: 0;color: #fff; background: #111;text-align: center;}
#skip li a:focus {line-height: 50px;font-size: 20px;}




#wrap {z-index: 1;position: relative;}

/* 헤더 */
#wrap #header {z-index: 3;position: fixed;top: 0;left: 0;width: 100%;height: 80px;background: #000;}
#wrap #header .wrap {width: 100%;}
#wrap #header .wrap .gap {margin: 0 35px;}
#wrap #header .wrap .gap .container {text-align: center;width: 100%;padding: 0 15px;}

/* 로고 */
#wrap #header .wrap .gap .container #logo {float: left;width: 111px;height: 36px;padding: 22px 0;}
#wrap #header .wrap .gap .container #logo a {display: inline-block;}
#wrap #header .wrap .gap .container #logo a img {width: 100%;}

/* 메인메뉴(GNB) */
#wrap #header .wrap .gap .container #nav {display: inline-block;}
#wrap #header .wrap .gap .container #nav > ul {width: 100%;}
#wrap #header .wrap .gap .container #nav > ul > li {display: inline-block;margin: 0 18px;}
#wrap #header .wrap .gap .container #nav > ul > li > a {font-size: 14px;font-weight: 600;color:rgba(255, 255, 255, 1);line-height: 80px;display: block;transition: color .3s ease-in-out;}
#wrap #header .wrap .gap .container #nav > ul > li > a:hover {color: rgba(255, 255, 255, .6);}

/* 사이드메뉴(ASIDE) */
#wrap #header .wrap .gap .container #aside {float: right;padding: 25px 0;}
#wrap #header .wrap .gap .container #aside ul {width: 100%;height: 30px;line-height: 25px;}
#wrap #header .wrap .gap .container #aside ul li {display: inline-block;margin: 0 10px;}
#wrap #header .wrap .gap .container #aside ul li a {font-size: 14px;color:rgba(255, 255, 255, 1);transition: all .3s ease-in-out;}
#wrap #header .wrap .gap .container #aside ul li a:hover {color: rgba(255, 255, 255, .6);}



/* 메인 */
#wrap #main {z-index: 2;position: relative;width: 100%;}

#wrap #main #section1 {width: 100%;}
#wrap #main #section1 .wrap {width: 100%;}
#wrap #main #section1 .wrap .gap {width: 100%;}
#wrap #main #section1 .wrap .gap .container {width: 100%;}
#wrap #main #section1 .wrap .gap .container .slide-container {width: 100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view {width: 100%;overflow: hidden;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap {width: 500%;margin-left: -100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {width: 1903px;/* js 창 높이 */height: 969px;background: url(../img/home-interior-design-slider-img01.jpg) no-repeat 50% 50%;background-size: cover;float: left;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image: url(../img/home-interior-design-slider-img01.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../img/home-interior-design-slider-img02.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../img/home-interior-design-slider-img03.jpg);}

#wrap #main #section2 {width: 100%;padding: 160px 0;background: #fff;}
#wrap #main #section2 .wrap {width: 1170px;margin: 0 auto;}
#wrap #main #section2 .wrap .gap {margin: 0 15px;}
#wrap #main #section2 .wrap .gap .container {width: 100%;height: 288px;/* 임시높이 */background: rgba(0, 0, 255, .3);}



/* 푸터 */
#wrap #footer {z-index: 1;position: relative;width: 100%;}
#wrap #footer .wrap {}
#wrap #footer .wrap .gap {}
#wrap #footer .wrap .gap .container {}