@charset "utf-8";

@media all and (max-width:1500px){
    /* w1400 지정된애들 vw크기로 조정 */

    /* Header */
    #wrap #header {width: 100vw;}
    
    #wrap #header .wrap .gap .container #logo {width: 118px;padding: 30px 50px 30px 50px;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul {width: 93.33vw;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn {padding: 36px 1vw 3px 1vw;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span {display: inline-block;color: #fff;font-size: 16.5px;font-weight: 600;line-height: 150%;position: relative;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn {margin: 0 1vw 0 50px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn .title-btn-img {top: 6px;right: -25px;width: 16px;height: 10px;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-vertical {margin: 30px 1vw 0 1vw;}

    /* main section2 */
    #wrap #main #section2 .box .wrap .gap .container {width: 100vw;}

    #wrap #main #section2 .box .wrap .gap .container .slide-container {width: 70vw;}
    #wrap #main #section2 .box .wrap .gap .container .slide-container .slide-view .slide-wrap {width: calc(70vw*15);margin-left: calc(-70vw*5);}
    #wrap #main #section2 .box .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {width: 70vw;}
  
    #wrap #main #section2 .box .wrap .gap .container .room-content {width: 23.33vw;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span > img {width: 290px;height: 150px;}

    /* main section3 */
    #wrap #main #section3 {width: 100vw;}
    #wrap #main #section3 .box {width: 100vw;}
    #wrap #main #section3 .box .section3bg {width:70vw;}
    #wrap #main #section3 .box .wrap {width:30vw;}
    #wrap #main #section3 .box .wrap .gap .container {width: 23.33vw;}

    /* main section4 */
    #wrap #main #section4 .wrap .gap {width: 93.33vw;}
    #wrap #main #section4 .wrap .gap .container .slide-container {width: 93.33vw;}

    /* main section5 */
    #wrap #main #section5 .wrap .gap {width: 93.33vw;}

    /* main section6 */
    #wrap #main #section6 .wrap .gap {width: 93.33vw;}

    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left {width: 60vw;}
 
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right {width: 18vw;}
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right .members-btn .membership-img {width: 270px;height: 410px;}

    /* main section7 */
    #wrap #main #section7 .wrap .gap {width: 93.33vw;}

    /* footer */
    #wrap #footer .wrap .gap {width: 93.33vw;}

}

@media all and (max-width:1350px){
    /* Header */
    #wrap #header {width: 100vw;}
    
    #wrap #header .wrap .gap .container #logo {position: absolute;z-index: 2;top: 50px;left: 0;width: 118px;padding: 30px 30px 30px 50px;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn {padding: 36px 0.9vw 3px 0.9vw;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span {font-size: 15px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn {margin: 0 0 0 30px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn .title-btn-img {display: none;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-vertical {margin: 30px 0.9vw 0 0.9vw;}

    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span > img {width: 290px;height: 150px;}

    /* main section6 */
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right .members-btn .membership-img {width: 270px;height: 410px;}

}

@media all and (max-width:1200px){

    /* Header 제어 */
    #wrap #header.addHide {top: 0;}
    #wrap #header.addShow {top: 0;}

    /* Header */
    #wrap #header {width: 100%;height: 60px;background: transparent;}
    #wrap #header .wrap {padding: 0 50px}
    #wrap #header .wrap .gap {margin: 0 auto;}
    #wrap #header .wrap .gap .container {width: 100%;}
    
    #wrap #header .wrap .gap .container .header-box {display: none;}
    #wrap #header .wrap .gap .container .header-box .left-box {float: left;height: 21px;padding: 14.5px 0;}
    #wrap #header .wrap .gap .container .header-box .left-box > span {display: inline-block;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .new-hotel-tap {display: inline-block;font-size: 12px;color: #bbb;line-height: 180%;width: 170px;letter-spacing: .5px;}
    
    #wrap #header .wrap .gap .container .header-box .left-box > span .find-hotel {display: inline-block;font-size: 12px;color: #bbb;line-height: 180%;margin-left: 20px;font-weight: 300;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .find-hotel .find-hotel-icon {margin-left: 5px;margin-top: -4px;}
    
    #wrap #header .wrap .gap .container .header-box .left-box > span .lang-KR {display: inline-block;font-size: 14px;color: #bbb;line-height: 150%;width: 55px;text-align: right;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .lang-KR .lang-change-icon {margin-top: -2px;margin-left: 15px;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .lang-EN {display: none;font-size: 14px;color: #bbb;line-height: 150%;width: 36px;text-align: center;padding: 0 8px;}
    
    
    #wrap #header .wrap .gap .container .header-box .right-box {float: right;width: auto;height: 21px;padding: 14.5px 0;}
    #wrap #header .wrap .gap .container .header-box .right-box ul {width: 100%;}
    #wrap #header .wrap .gap .container .header-box .right-box ul li {float: left;width: auto;text-align: right;}
    #wrap #header .wrap .gap .container .header-box .right-box ul li a {display: inline-block;font-size: 12px;line-height: 180%;color: #bbb;margin: 0 12px;}
    #wrap #header .wrap .gap .container .header-box .right-box ul li span {display: inline-block;width: 1px;height: 10px;background: #666;position: absolute;top: 40%;}
    
    /* header logo */
    #wrap #header .wrap .gap .container #logo {position: absolute;z-index: 2;top: 0;left: 0;width: 118px;padding: 9px 0 9px 50px;}
    #wrap #header .wrap .gap .container #logo h1 {text-indent: -2000px;overflow: hidden;display: none;}
    #wrap #header .wrap .gap .container #logo a {display: block;position: relative;overflow: hidden;}
    #wrap #header .wrap .gap .container #logo a .logo-white {display: inline-block;width: 118px;height: 42px;background: url(../img/bg_logo_grand.png) no-repeat;}
    #wrap #header .wrap .gap .container #logo a .logo-black {display: none;width: 118px;height: 84px;background: url(../img/bg_logo_grand.png) no-repeat;position: absolute;top: -42px;left: 0;}
    #wrap #header .wrap .gap .container #logo a.addBlack .logo-black {display: inline-block;}

    
    
    /* Nav */
    #wrap #header .wrap .gap .container #nav {width: 100%;height: 100px;position: absolute;z-index: 1;top: 60px;left: 0;}
    #wrap #header .wrap .gap .container #nav.mouseon {background: rgba(255, 255, 255, 1);}
    #wrap #header .wrap .gap .container #nav .nav-gap {margin: 0;}
    
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap {height: 100px;text-align: left;padding-left: 0;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul {width: 100%;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li {display: block;width: auto;background: #ddd;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn {display: inline-block;padding: 20px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span {display: inline-block;color: #fff;font-size: 16.5px;font-weight: 600;line-height: 150%;position: relative;}
    #wrap #header .wrap .gap .container #nav.mouseon .nav-gap .gnb-wrap > ul > li .gnb-btn span {color: #000;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn {margin: 0;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn .title-btn-img {display: inline-block;position: absolute;;top: 6px;right: -25px;width: 16px;height: 10px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span .gnb-line {display: inline-block;width: 100%;height: 2px;position: absolute;bottom: -1px;left: 0;}
    
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-btn span {color: #ba998c;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-btn .gnb-line {border-bottom: 2px solid #ba998c;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-title-btn .gnb-line {border-bottom: 0}
    
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-vertical {display: none;}


}